/**
 * Globales CSS Stylesheet, um das Aussehen der einzelnen Unterseiten zu vereinheitlichen.
 */

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    src: url('/fonts/NunitoSans.ttf');
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    src: url('/fonts/NunitoSans-Italic.ttf');
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
html {
    height: auto;
}
html.height-100 {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
}
body.sticky-page {
    height: 100%;
}
body.sticky-page > .sticky-page-container {
    min-height: 100%;
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-auto-rows: auto 1fr auto;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #333;
    border: 1px solid #ddd;
}

h1, h2, h3 {
    text-align: center;
    color: #007bff;
}

pre {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #333;
}

.info {
    background: #f4f4f4;
    padding: 15px;
    border-left: 4px solid #007bff;
    margin-bottom: 20px;
}

.console {
    background: #000;
    color: #0f0;
    font-family: 'Courier New', monospace;
    padding: 20px;
    border-radius: 5px;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.btn {
    display: block;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}
.btn:hover {
    background: #0056b3;
}
.btn:disabled {
    background: #ccc;
    cursor: initial;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(45deg, #28a745, #32CD32);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: transform 0.2s, background 0.2s;
}
.back-button:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #218838, #1e7e34);
}

.task {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px);
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.flag {
    background: #28a745;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.nav {
    display: block;
    justify-content: center;
    margin-bottom: 20px;
}
.nav-button-container {
    float: left;
    font-size: 200%;
    line-height: 1;
}
.nav-button,
.nav-button:hover {
    text-decoration: none;
    color: #007bff;
    width: 1rem;
    display: inline-block;
}
.nav-button:hover {
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    margin: 20px 0;
    color: #ccc; /* Grundfarbe des Textes */
    font-size: 14px;
    box-sizing: border-box;
}
footer a {
    color: #ffffff; /* Weiß für die Links */
    text-decoration: none;
}
footer a:hover {
    color: #ffdd00; /* Gelb beim Hover */
    text-decoration: underline;
}
footer.dark-footer {
    background-color: #1a1a1a;
    padding: 15px;
    color: #bbb;
    font-size: 0.9em;
    margin-bottom: 0;
}
footer.dark-footer a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}
footer.dark-footer a:hover {
    color: #fff;
}
/* Progress Bar */
.progress-bar-container {
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}
.progress-bar {
    height: 25px;
    line-height: 25px;
    background: #007bff;
    width: 0%;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: width 0.5s ease-in-out;
}
.progress-bar[data-progress="0"] {
    color: #007bff;
}

/* Alert-Dialog */
#alert-dialog, #alert-dialog-backdrop {
    display: none; /* Standardmäßig versteckt */
}
body.alert-dialog-shown {
    overflow: hidden; /* Verhindert Scrollen */
}
body.alert-dialog-shown #alert-dialog-backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}
body.alert-dialog-shown #alert-dialog {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    min-width: 200px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 1001;
}
body.alert-dialog-shown #alert-dialog-message {
    margin-bottom: 20px;
}
body.alert-dialog-shown #alert-dialog-buttons > .btn {
    width: 100%;
}
