---
title: Cyber Defense Lab
---

<!doctype html>
<html lang="de" {% if height100 == 'true' %}class="height-100"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Globales Stylesheet -->
    <link rel="stylesheet" href="/global.css">
    <!-- Styles für die spezifische Seite -->
    <style>
    {% getBundle "css" %}
    </style>
  </head>
  <body class="{{ bodyClass | default('') }}">
  {%  if bodyClass == 'sticky-page' %}<div class="sticky-page-container">{% endif %}
    {{ content | safe }}
  {%  if bodyClass == 'sticky-page' %}</div>{% endif %}

  {%  if backButton %}
  <!-- Zurück zur Startseite Button am Ende der Seite -->
  <div style="text-align: center; margin: 20px 0;">
    <button class="back-button" onclick="location.href='/index.html'">Zurück zur Startseite</button>
  </div>
  {% endif %}

  </body>
</html>
