---
layout: head.njk
navTitle: "{{ title }}"
---

<div class="container">
    <div class="nav">
        <div class="nav-title">
            <span class="nav-button-container">
                <a href="/index.html" class="nav-button" title="Zurück zur Startseite">ᐸ</a>
            </span>
            <h1>{{ navTitle }}</h1>
        </div>
    </div>

    {{ content | safe }}

    {% include "alert-dialog.html" %}
</div>

{%  include "footer.html" %}